p{
    font-family: 'Courier New', Courier, monospace;
    color: palevioletred;
    background-color: antiquewhite;
}
body{
    background-color: orange;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}