body{
    background-color: aquamarine;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #000814;
    color: #cad2c5;
}
article{
    padding: 40px;
    margin: 40px;
    background-color: #001d3d;
}